VITE_CONVEX_URL="http://127.0.0.1:3210"
VITE_ASSET_BASE="./"
VITE_APP_BASE_PATH="/"
VITE_APP_TERMINAL_NAME="Terminal #2849"
VITE_APP_SUPPORT_PHONE="+7 (999) 999-99-99"
VITE_APP_SUPPORT_CHAT="t.me/example"
FRONTEND_PORT="3000"
CONVEX_BACKEND_PORT="3210"
CONVEX_SITE_PROXY_PORT="3211"
CONVEX_DASHBOARD_PORT="6791"
CONVEX_INSTANCE_SECRET="change-this-secret"
CONVEX_SELF_HOSTED_URL="https://backend.sarcina.dgazizullin.dev"
CONVEX_SELF_HOSTED_ADMIN_KEY=""
